html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100%;
  /* background-color: #1a1b26; */
  color: #cfc9c2;
  background-image: radial-gradient(
    circle at center,
    #460b60,
    #290638,
    #15032a,
    #0f0021
  );
}

/* @import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap"); */

.text-neon {
  font-family: "Train One", cursive;

  filter: blur(0.3px);
  animation: glow 2.5s linear infinite;
}

@keyframes glow {
  50% {
    text-shadow: 0 0 0.5vw #8f2626, 0 0 2vw #ff0000, 0 0 3vw #ff3366,
      0 0 3vw #fff, 0 0 5vw #fed641, 0 0 3vw #fed641, 0 0 2vw #ff69b4,
      0 0 0.5vw #ff69b4;
    color: #ff6347;
  }
  0%,
  100% {
    text-shadow: 0 0 0.5vw #e01c1c, 0 0 1vw #e01c1c, 0 0 2vw #ff3366,
      0 0 3vw #ff3366, 0 0 5vw #ff3366, 0 0 2vw #ff3366, 0 0 1vw #ff3366,
      0 0 0.5vw #8f2626;
    color: #ff3366;
    -webkit-text-stroke: 0.1px #ff69b4;
  }
}

.text-big {
  text-transform: uppercase;
  font-size: 35px;
}

.text-darker {
  color: #c0caf5;
}

.text-pink {
  color: #f7768e;
}
